$theme-colors: (
  'primary': #fff,
);

$body-bg: rgb(240, 240, 240);
$navbar-color: #8dd7cf;


@import '~bootstrap/scss/bootstrap.scss';

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.body {
  background-color: $body-bg;
}

.navbar-container {
  background-color: $navbar-color;
}